
/* Định dạng cho phần thông tin trong mục body trang web */
body{
    font-family: 'Courier New', Courier, monospace; /* Font chữ sử dụng */
    background-color : #3ed0a9; /* màu nền cho trang web */
    color : #333333; /* màu chữ xám đậm */
    margin : 0; /* loại bỏ khoảng cách mặc định */
}

/* Làm đẹp phần đầu trang web */ 
header{
    background-color : #2c3e50; /* màu nền xanh đen */
    color : white;  /* chữ màu trắng */ 
    text-align : center;       /* căn chỉnh chữ ra giữa */ 
    padding : 20px; /* Khoảng cách bên trong phần header */
}

/* Làm đẹp menu điều hướng */

nav ul{
    list-style-type : none; /* Loại bỏ dấu chấm đầu dòng */
    padding : 0 ;
}

nav ul li {
    display : inline ; /* Dàn các mục từ hàng dọc thành hàng ngang */ 
    margin : 0 15px; /* Khoảng cách giữa các mục menu */
}

nav ul li a {
    color : #1abc9c; /* màu chữ xanh dương */
    text-decoration : none; /* loại bỏ gạch chân của link */
    font-weight : bold ; /* In đậm chữ lên */ 
}

nav ul li a:hover {
    color : #f39c12;
    /* Hiệu ứng con chuột khi trỏ vào link , chữ sẽ đổi màu cam */ 
}

/* Làm đẹp phần thân (main content) trang web */

main {
    max-width : 800px; /* Giới hạn chiều rộng tối đa của phần thân */
    margin : 20px auto; /* auto căn lề ra giữa toàn bộ khối main ra giữa màn hình */
    background-color :white ; /* Nền trắng cho bài viết */
    padding : 20px /* Khoảng cách bên trong phần main */
    box-shadow : 0px 4px 8px rgba(0, 0, 0, 0.1); /* Tạo bóng đổ cho khung bài viết */
    border-radius : 10px ; /* Bo tròn 4 góc của khung bài viết */
}

/* Hiệu chỉnh hình ảnh */
img {
    max-width : 100%; /* Giới hạn chiểu rộng tối đa cho hình ảnh */
    height : auto; /* Chiều cao tự động để giữ tỉ lệ hình ảnh */
    padding : 50px 80px;
    transition : transform 0.3s ease; /* Tạo hiệu ứng chuyển động mượt mà (Thởi gian chuyển động là 0.3 giây)*/
}

/* Làm đẹp chân trang web */ 

footer{
    background-color : #2c3e50; /* màu nền xanh đen */
    color : white;  /* chữ màu trắng */ 
    text-align : center;       /* căn chỉnh chữ ra giữa */ 
    padding : 10px; /* Khoảng cách bên trong phần footer */
    margin-top: 40px; /* Khoảng cách trên phần footer */
}


/* Trang trí phần nội dung bài viết */

/* Trang trí tiêu đề (Tiêu đề h2) */
article h2 {
    color : #2c3e50;
    text-align : center ; /* cản chỉnh chữ */
    border-bottom : 2px dashed #3ed0a9; /* Tạo đường viền nét đứt xanh ngọc ở phía dưới cùng */
    padding-bottom : 10px ; /* đẩy đường viền cách ra xa chữ */
}

/* Căn giữa và đóng khung cho ảnh */
article img {
    display : block ;  /* Biến ảnh thành 1 khối (phải có để căn giữa ảnh)*/
    margin : 20px auto; /* Căn giữa ảnh và tạo khoảng cách trên dưới */
    border : 5px solid #2c3e50; /* Tạo viền xanh đen cho ảnh , dày 5px */
    border-radius :  15px ; /* Bo tròn ảnh trong khung tranh */
}


/* Căn giữa đoạn văn bản */ 
article p {
    text-align : center; /* Căn đều 2 bên đoạn văn bản */
    font-size : 18px; /* Tăng kích thước cỡ chữ lên */
}



/* Làm animation ảnh nổi khi trỏ chuột vào ảnh */

/* Hiệu ứng khi trỏ chuột vào ảnh */
article img:hover {
    transform : scale (1.05); /* Phóng to ảnh lên 1.05 lần (5%) */
    box-shadow : 0px 10px 20px rgba(0,0,0,0.3); /* Tạo bóng đổ đậm và to hơn ở dưới bức ảnh */
    border-color : #3ed0a9; /* Đổi màu khung tranh sang màu xanh ngọc cho tone-sur-tone */
}



/* Trang trí khối giới thiệu (ASIDE) */
aside {
    background-color : #e8f8f5; /* Màu nền xanh mint cực nhạt , tạo cảm giác thân thiện */ 
    border-left : 6px solid #000000bd; /* Tạo 1 vạch kẻ dày 6px ở bên trái */ 
    padding : 15px 25px ; /* Đệm bên trong cho chữ không dính vào viền */
    margin-top : 40px; /* Đẩy khối này cách xa bài viết ở trên ra */ 
    border-radius : 0 15px 15px 0 ;/* Bo tròn 2 góc bên phải (Trái trên , phải trên , phải dưới , trái dưới) */
}


aside h3{
    color: #d35400; /* Màu chữ cam đậm */
    margin-top : 0; /* Loại bỏ khoảng cách trên tiêu đề */
}